{% load static %}
<footer class="rts-footer rts-footer-padding v_2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="rts-footer-newsletter">
                <div class="col-lg-10">
                    <div class="rts-newsletter-box-content">
                        <h4 class="newsletter-title">Подпишитесь на Рассылку Новостей
                        </h4>
                        <div class="newsletter-form w-530">
                            <form action="#">
                                <input type="email" name="subscription" id="subscription" placeholder="Введите свой адрес электронной почты" required="">
                                <button type="submit" class="rts-nbg-btn btn-arrow">Подпишись <span><i class="fa-sharp fa-regular fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-5 gy-lg-0">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="rts-footer-widget w-320">
                    <a href="index.html" class="d-block rts-footer-logo mb--40">
                        <img src="{% static 'assets/images/logo/logo__white.svg' %}" alt="Unipix">
                    </a>
                    <p>
                        Мы увлечены образованием и стремимся предоставлять высококачественные
                        ресурсы учащимся любого уровня подготовки.
                    </p>
                    <div class="rts-contact-link">
                        <a href="mailto:contact@reacthemes.com"><i class="fa-sharp fa-light fa-location-dot"></i> Парк, Мельбурн, Австралия </a>
                        <a href="callto:121"><i class="fa-thin fa-phone"></i> 0999130378</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="rts-footer-widget ">
                    <h6 class="rt-semi">Наш кампус</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="{% url 'academic' %}">Академический</a></li>
                            <li><a href="{% url 'campus-life' %}">Жизнь в кампусе</a></li>
                            <li><a href="{% url 'research' %}">Исследование</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-4">
                <div class="rts-footer-widget ml--30">
                    <h6 class="rt-semi">Наш кампус</h6>
                    <div class="rts-footer-menu">
                        <ul>
                            <li><a href="{% url 'about' %}">О </a></li>
                            <li><a href="{% url 'tution-fee' %}">Регистрационный взнос</a></li>
                            <li><a href="{% url 'alumni' %}">Выпускники</a></li>
                            <li><a href="{% url 'faculty' %}">Сотрудники Факультета </a></li>
                            <li><a href="{% url 'event' %}">Событие</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="rts-footer-widget ml--30">
                    <h6 class="rt-semi">Недавнее сообщение</h6>
                    <div class="rts-post-widget">
                        <ul class="list-unstyled">
                            <li class="single-post">
                                <a href="{% url 'blog-details' %}" class="blog-thumb">
                                    <img src="{% static 'assets/images/blog/w-1.jpg' %}" alt="latest post">
                                </a>
                                <div class="post-content">
                                    <span class="rt-date">29 октября 2023 года</span>
                                    <a href="{% url 'blog-details' %}">
                                        Избегайте этих 4 Распространенных Ошибок При Управлении Удаленными Командами
                                    </a>
                                </div>
                            </li>
                            <li class="single-post">
                                <a href="{% url 'blog-details' %}" class="blog-thumb">
                                    <img src="{% static 'assets/images/blog/small-thumb-1.jpg' %}" alt="latest post">
                                </a>
                                <div class="post-content">
                                    <span class="rt-date">29 октября 2023 года</span>
                                    <a href="{% url 'blog-details' %}">
                                        Избегайте этих 4 Распространенных Ошибок При Управлении Удаленными Командами
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
