{% load static %}
<header class="header header__sticky v__2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="header__wrapper">
                    <div class="header__logo">
                        <a href="{% url 'index' %}" class="header__logo--link">
                            <img src="{% static 'assets/images/logo/logo__two.svg' %}" alt="unipix">
                        </a>
                    </div>
                    <div class="header__menu">
                        <div class="navigation">
                            <nav class="navigation__menu">
                                <ul>                                   
                                        <a href="{% url 'index' %}" class="navigation__menu--item__link">Главная страница</a>                                   
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a href="javascript:void(0);" class="navigation__menu--item__link">Страницы</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="about.html">О</a></li>
                                            <!-- <li><a href="athletics.html">Athletics</a></li> -->
                                            <li class="has-child has-arrow">
                                                <a href="#">Факультет</a>
                                                <ul class="sub__style">
                                                    <li><a href="faculty.html">Сотрудники Факультета </a></li>
                                                    <li class="has-child"><a href="faculty-details.html">Faculty details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="research.html">Исследование</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a href="#" class="navigation__menu--item__link">Ученые</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="academic.html">Академический</a></li>
                                            <li><a href="admission.html">Вход</a></li>
                                            <li><a href="academic-area.html">Академическая область</a></li>
                                            <li><a href="campus-life.html">Жизнь в кампусе</a></li>
                                            <li><a href="scholarship.html">Ученость</a></li>
                                            <li><a href="tution-fee.html">Регистрационный взнос</a></li>
                                            <li><a href="alumni.html">Выпускники</a></li>
                                            <li><a href="program-single.html">Программа Одиночная</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a href="#" class="navigation__menu--item__link">Событие</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="event.html">Событие</a></li>
                                            <li><a href="event-details.html">Подробности о событии</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a href="#" class="navigation__menu--item__link">Блог</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="{% url 'blog' %}">Блог</a></li>
                                            <li><a href="{% url 'blog-details' %}">Подробности в блоге</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item">
                                        <a href="{% url 'contact' %}" class="navigation__menu--item__link">Контакты</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__right--item">
                            <div id="langSwitcher" class="lang__trigger">
                                <span class="selected__lang">Английский</span>
                                <i class="fa-light fa-globe"></i>
                                <div class="translate__lang">
                                    <ul>
                                        <li><a href="#" class="active">Английский</a></li>
                                        <li><a href="#">Французский</a></li>
                                        <li><a href="#">Испанский</a></li>
                                        <li><a href="#">Румынский</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="search-btn" class="search__trigger">
                                <i class="fa-sharp fa-light fa-magnifying-glass"></i>
                            </div>
                            <div id="menu-btn" class="menu__trigger">
                                <img src="{% static 'assets/images/icon/menu__bar.svg' %}" alt="bar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
