{% load static %}
<header class="header header__sticky v__2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="header__wrapper">
                    <div class="header__logo">
                        <a href="{% url 'index' %}" class="header__logo--link">
                            <img src="{% static 'assets/images/logo/logo__two.svg' %}" alt="unipix">
                        </a>
                    </div>
                    <div class="header__menu">
                        <div class="navigation">
                            <nav class="navigation__menu">
                                <ul>                                   
                                        <a href="javascript:void(0);" class="navigation__menu--item__link">Главная страница</a>                                   
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a href="javascript:void(0);" class="navigation__menu--item__link">Pages</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="athletics.html">Athletics</a></li>
                                            <li class="has-child has-arrow">
                                                <a href="#">Faculty</a>
                                                <ul class="sub__style">
                                                    <li><a href="faculty.html">Faculty Staff</a></li>
                                                    <li class="has-child"><a href="faculty-details.html">Faculty details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="research.html">Research</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a href="#" class="navigation__menu--item__link">Academics</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="academic.html">Academic</a></li>
                                            <li><a href="admission.html">Admission</a></li>
                                            <li><a href="academic-area.html">Academic Area</a></li>
                                            <li><a href="campus-life.html">Campus Life</a></li>
                                            <li><a href="scholarship.html">Scholarship</a></li>
                                            <li><a href="tution-fee.html">Tution Fee</a></li>
                                            <li><a href="alumni.html">Alumni</a></li>
                                            <li><a href="program-single.html">Program Single</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a href="#" class="navigation__menu--item__link">Event</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="event.html">Event</a></li>
                                            <li><a href="event-details.html">Event Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item has-child has-arrow">
                                        <a href="#" class="navigation__menu--item__link">Blog</a>
                                        <ul class="submenu sub__style">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-list.html">Blog List</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="navigation__menu--item">
                                        <a href="{% url 'contact' %}" class="navigation__menu--item__link">Контакты</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__right--item">
                            <div id="langSwitcher" class="lang__trigger">
                                <span class="selected__lang">English</span>
                                <i class="fa-light fa-globe"></i>
                                <div class="translate__lang">
                                    <ul>
                                        <li><a href="#" class="active">English</a></li>
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Spanish</a></li>
                                        <li><a href="#">Romanian</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="search-btn" class="search__trigger">
                                <i class="fa-sharp fa-light fa-magnifying-glass"></i>
                            </div>
                            <div id="menu-btn" class="menu__trigger">
                                <img src="{% static 'assets/images/icon/menu__bar.svg' %}" alt="bar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
