{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- header area start -->
    {% include 'include/header.html' %}
    <!-- header area end -->


    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url({% static 'assets/images/banner/breadcrumb.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Подать заявку на поступление</li>
                        </ul>
                        <h2 class="section-title">Подать заявление в Университет Unipix</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- admission page content -->
    <div class="rts-page-content rts-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="admission-content-top">
                        <h3 class="rts-section-title">
                            Абитуриенты-первокурсники
                        </h3>

                        <div class="admission-big-thumb">
                            <img src="{% static 'assets/images/course/admission-bg.jpg' %}" alt="admission">
                        </div>

                        <div class="requirement-deadline">
                            <h3 class="rts-section-title">Требования и сроки выполнения</h3>
                            <div class="requirement-deadline__content">
                                <ul>
                                    <li class="single-requirement">невозвращаемый регистрационный сбор в размере 90 долларов США или запрос на отказ от сбора</li>
                                    <li class="single-requirement">Результаты тестов ACT или SAT (тест необязательный)</li>
                                    <li class="single-requirement">Форма школьного отчета и рекомендательное письмо консультанта </li>
                                    <li class="single-requirement">Официальная стенограмма(ы) или академические результаты</li>
                                    <li class="single-requirement">Рекомендательные письма от двух учителей</li>
                                    <li class="single-requirement">Стенограмма за середину года (должна быть опубликована до 15 февраля)</li>
                                    <li class="single-requirement">невозвращаемый регистрационный сбор в размере 90 долларов США или запрос на отказ от сбора</li>
                                    <li class="single-requirement">Результаты тестов ACT или SAT (тест необязательный)</li>
                                    <li class="single-requirement">Форма школьного отчета и рекомендательное письмо консультанта </li>
                                    <li class="single-requirement">Официальная стенограмма(ы) или академические результаты</li>
                                    <li class="single-requirement">Рекомендательные письма от двух учителей</li>
                                    <li class="single-requirement">Стенограмма за середину года (должна быть опубликована до 15 февраля)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="application-deadline">
                            <h3 class="rts-section-title">Крайние сроки подачи заявок</h3>
                            <div class="application-deadline__content">
                                <div class="application-deadline__content--table">
                                    <table class="table">
                                        <thead class="table-theme">
                                            <tr>
                                                <td>Event</td>
                                                <td>Restrictive Early Action</td>
                                                <td>Regular Decision</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Standard Application Deadline</td>
                                                <td>November 1</td>
                                                <td>January 10</td>
                                            </tr>
                                            <tr>
                                                <td>Notification of Missing Documents</td>
                                                <td>Mid-November</td>
                                                <td>Mid-February</td>
                                            </tr>
                                            <tr>
                                                <td>Decision Released By</td>
                                                <td>Mid-December</td>
                                                <td>Early April</td>
                                            </tr>
                                            <tr>
                                                <td>Student Reply Date</td>
                                                <td>May 1</td>
                                                <td>May 1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p> Unipix оставляет за собой право оценить заявку и вынести окончательное решение, даже если все части заявки еще не были получены.</p>
                                <p class="w-95 mx-0">Кандидаты могут подать в общей сложности не более трех заявлений на поступление в бакалавриат, будь то на первый курс, при переводе или на комбинацию того и другого. Если вы подали в Unipix менее трех заявлений, вы можете подать их повторно.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row sticky-coloum-wrap g-5 mt--45">
                <div class="col-lg-8">
                    <div class="rts-ap-section">
                        <h3 class="rts-section-title mb--30">Детали приложения</h3>
                        <div class="rts-application-form">
                            <form action="#">
                                <div class="single-form-part">
                                    <h5 class="form-title">Личная информация</h5>
                                    <div class="single-input">
                                        <div class="single-input-item">
                                            <label for="fname">Имя</label>
                                            <input type="text" id="fname" placeholder="Введите свое имя">
                                        </div>
                                        <div class="single-input-item">
                                            <label for="lname">Фамилия</label>
                                            <input type="text" id="lname" placeholder="Введите свою фамилию">
                                        </div>
                                    </div>
                                    <div class="single-input">
                                        <div class="single-input-item">
                                            <label for="email2">Почта</label>
                                            <input type="email" id="email2" placeholder="Введите свою почту">
                                        </div>
                                        <div class="single-input-item">
                                            <label for="phone">Телефон</label>
                                            <input type="tel" id="phone" placeholder="Введите свой номер">
                                        </div>
                                    </div>
                                    <div class="single-input">
                                        <div class="single-input-item">
                                            <label for="dob">Дата рождения</label>
                                            <input type="text" id="datepicker" placeholder="дд/мм/гг">
                                        </div>
                                        <div class="single-input-item">
                                            <label for="gender">Пол</label>
                                            <select name="gender" id="gender">
                                                <option value="*">Пол</option>
                                                <option value="*">Женский</option>
                                                <option value="*">Мужской</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="single-input">
                                        <div class="single-input-item">
                                            <label for="country">Выберите свою страну </label>
                                            <input id="country" type="text" placeholder="Страна">
                                        </div>
                                    </div>
                                </div>
                                <div class="single-form-part">
                                    <h5 class="form-title">Академическая информация</h5>
                                    <div class="single-input">
                                        <div class="single-input-item">
                                            <label for="cname">Название коллажа</label>
                                            <input id="cname" type="text" placeholder="Название коллажа">
                                        </div>
                                        <div class="single-input-item">
                                            <label for="gpa">Введите свой средний балл</label>
                                            <input id="gpa" type="text" placeholder="Введите свой средний балл">
                                        </div>
                                    </div>
                                    <div class="single-input">
                                        <div class="single-input-item">
                                            <label for="cname2">Название коллажа</label>
                                            <input id="cname2" type="text" placeholder="текущий коллаж">
                                        </div>
                                        <div class="single-input-item">
                                            <label for="gpa2">Введите свой средний балл</label>
                                            <input type="text" id="gpa2" placeholder="текущий средний балл">
                                        </div>
                                    </div>
                                </div>
                                <div class="single-form-part">
                                    <h5 class="form-title">Финансовая информация</h5>
                                    <div class="single-input">
                                        <div class="single-input-item">
                                            <label for="income">Доход домохозяйства</label>
                                            <select name="income" id="income">
                                                <option value="*">Менее $1k</option>
                                                <option value="*">Менее $2k</option>
                                                <option value="*">Менее $3k</option>
                                            </select>
                                        </div>
                                        <div class="single-input-item">
                                            <label for="yes">подача заявления на получение финансовой помощи в зависимости от потребностей</label>
                                            <select name="yes" id="yes">
                                                <option value="*">да</option>
                                                <option value="*">нет</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="single-form-part">
                                    <h5 class="form-title">Соглашение и представление</h5>
                                    <p>Отправляя эту заявку, я подтверждаю, что вся предоставленная информация является точной и полной. Я понимаю, что любая ложная
                                        информация может привести к отклонению моей заявки.
                                    </p>
                                    <div class="single-input-item">
                                        <label for="sub">Подача заявки:</label>
                                        <input type="file" id="sub">
                                    </div>

                                    <div class="d-flex align-items-center single-checkbox mt--20">
                                        <input type="checkbox" id="exampleCheck1">
                                        <label for="exampleCheck1">Отправляя эту форму, вы соглашаетесь с Уведомлением о конфиденциальности Unipix University</label>
                                    </div>
                                </div>
                                <button type="submit" class="rts-theme-btn primary with-arrow">Подать заявку<span><i class="fa-thin fa-arrow-right"></i></span></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sticky-coloum-item">
                    <div class="program-sidebar">
                        <!-- curriculum -->
                        
                        <!-- contact info -->
                        

                        <!-- join event -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- admission page content end -->

    <!-- footer -->
    {% include 'include/footer.html' %}
    <!-- footer end -->

    <!-- footer copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright__wrapper">
                        <p>Авторское право &copy; 2024 Все права защищены <a href="#">Unipix</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer copyright end -->


    <!-- offcanvase menu -->
    <!-- header style two -->
    <div id="side-bar" class="side-bar">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail">
                <img src="{% static 'assets/images/logo/logo__five.svg' %}" alt="Unipix-university">
            </div>
            <div class="inner-content">
                <p class="disc">
                    A modern HTML template for education, offering intuitive design & essential features for seamless learning experiences.
                </p>
                <!-- offcanvase banner -->
                <div class="offcanvase__banner mt--50">
                    <div class="offcanvase__banner--content">
                        <img src="{% static 'assets/images/offcanvase.jpg' %}" alt="offcanvase">
                        <a href="admission.html" class="rts-theme-btn">Apply Now</a>
                    </div>
                </div>
                <div class="offcanvase__info">
                    <div class="offcanvase__info--content">
                        <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                        <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Yarra Park, Melbourne, Australia</a>
                        <div class="offcanvase__info--content--social">
                            <p class="title">Follow Us:</p>
                            <div class="social__links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">

                    <li class="has-droupdown">
                        <a href="#" class="main">Homepages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="index.html">Home Style One</a></li>
                            <li><a class="mobile-menu-link" href="index-two.html">Home Style Two</a></li>
                            <li><a class="mobile-menu-link" href="index-three.html">Home Style Three</a></li>
                            <li><a class="mobile-menu-link" href="index-four.html">Home Style Four</a></li>
                            <li><a class="mobile-menu-link" href="index-five.html">Home Style Five</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="about.html">About Us</a></li>
                            <li><a class="mobile-menu-link" href="athletics.html">Athletics</a></li>
                            <li class="has-dropdown third-lvl">
                                <a href="javascript:void(0);">Faculty</a>
                                <ul class="submenu third-lvl base">
                                    <li><a class="mobile-menu-link" href="faculty.html">Faculty</a></li>
                                    <li><a class="mobile-menu-link" href="faculty-details.html">Faculty details</a></li>
                                </ul>
                            </li>
                            <li><a class="mobile-menu-link" href="research.html">Research</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Academics</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="academic.html">Academic</a></li>
                            <li><a class="mobile-menu-link" href="admission.html">Admission</a></li>
                            <li><a class="mobile-menu-link" href="academic-area.html">Academic Area</a></li>
                            <li><a class="mobile-menu-link" href="campus-life.html">Campus Life</a></li>
                            <li><a class="mobile-menu-link" href="scholarship.html">Scholarship</a></li>
                            <li><a class="mobile-menu-link" href="tution-fee.html">Tution Fee</a></li>
                            <li><a class="mobile-menu-link" href="alumni.html">Alumni</a></li>
                            <li><a class="mobile-menu-link" href="program-single.html">Program Single</a></li>
                        </ul>
                    </li>

                    <li class="has-droupdown">
                        <a href="#" class="main">Events</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="event.html">Event</a></li>
                            <li><a class="mobile-menu-link" href="event-details.html">Event Details</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Blog</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="blog.html">Blog</a></li>
                            <li><a class="mobile-menu-link" href="blog-grid.html">Blog Grid</a></li>
                            <li><a class="mobile-menu-link" href="blog-list.html">Blog List</a></li>
                            <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html" class="main">Наши контакты</a>
                    </li>
                </ul>
            </nav>

            <div class="offcanvase__info--content mt--30">
                <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Ярра-парк, Мельбурн, Австралия</a>
                <div class="offcanvase__info--content--social">
                    <p class="title">Подпишитесь на нас:</p>
                    <div class="social__links">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->

    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input class="search-input autocomplete ui-autocomplete-input" type="text" placeholder="Search by keyword or #" autocomplete="off">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts back to top end -->
    <div id="anywhere-home" class="">
    </div>


    <!-- scripts -->
    <!-- jquery js -->

{% endblock %}