{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- header area start -->
    {% include 'include/header.html' %}
    <!-- header area end -->

    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url({% static 'assets/images/banner/breadcrumb.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Главная страница</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Выпускники</li>
                        </ul>
                        <h2 class="section-title">Выпускники Unipix</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->


    <!-- alumni banner -->
    <div class="alumni-banner rts-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="rts__section--wrapper v__9">
                        <h2 class="rts__section--title">{{alumni.title}}</h2>
                        <p class="rts__section--description">{{alumni.desc}}</p>
                    </div>
                </div>
            </div>
            <!-- banner image -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="alumni__banner__image">
                        <img src="{{alumni.image.url}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- alumni banner end -->

    <!-- upcoming event -->
    <section class="rts__section rts-section-padding rts__light">
        <div class="container">
            <div class="row">
                <div class="rts__section--wrapper">
                    <div class="rts__section--wrapper--left">
                        <h2 class="rts__section--title text-capitalize">Upcoming event</h2>
                    </div>
                    <div class="rts__section--link">
                        <a href="event.html" class="rts-nbg-btn btn-arrow">посмотреть все<span><i class="fa-sharp fa-regular fa-arrow-right"></i>
                        </span></a>
                    </div>
                </div>
            </div>
            <!-- event content -->
            <div class="row g-5">
                <!-- single event item -->
                {% for upcomingevent in upcomingevent %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="rts__single--event v__3">
                        <div class="rts__single--event--thumb">
                            <a href="event-details.html">
                                <img src="{{upcomingevent.image.url}}" alt="event">
                            </a>
                        </div>
                        <div class="rts__single--event--meta">
                            <div class="rts__single--event--meta--dl">
                                <span class="date">
                                    <img src="{% static 'assets/images/icon/calendar.svg' %}" alt="">
                                    <span>{{upcomingevent.data}}</span>
                                </span>
                                <span class="location">
                                    <i class="fa-sharp fa-light fa-location-dot"></i>
                                    <span>{{upcomingevent.location}}</span>
                                </span>
                            </div>
                            <h5 class="rts__single--event--meta--title">
                                <a href="event-details.html">
                                    {{upcomingevent.title}} </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- single event item -->
                <!-- single event item -->
                {% endfor %}
                <!-- single event item -->
            </div>
        </div>
    </section>
    <!-- upcoming event end -->

    <!-- student stories -->
    <section class="alumni-stories rts-section-padding">
        <div class="container">
            <div class="row g-5 g-md-0 justify-content-sm-center">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-11">
                    <div class="left__side">
                        <div class="rts__section--wrapper v__7">
                            <h2 class="rts__section--title">Stories Of Unipix Student
                            </h2>
                            <p class="rts__section--description">Отправляйтесь в путь знаний, открытий и роста в университете Unipix. Наш процесс приема направлен на выявление ярких, мотивированных людей, которые стремятся внести свой вклад в наше динамичное академическое сообщество.</p>
                        </div>
                        <div class="left__side__image">
                            <img src="{% static 'assets/images/alumni/01.jpg' %}" alt="alumni">
                            <h5 class="left__side__title">Голоса победы: Истории студентов Unipix</h5>
                            <p class="left__side__description">Благодаря этим рассказам читатели получают представление о разнообразии происхождения, стремлениях и достижениях отдельных людей.</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6 offset-xl-1 col-sm-11">
                    <div class="right__side">
                        <div class="right__side__image">
                            <img src="{% static 'assets/images/alumni/02.jpg' %}" alt="alumni">
                        </div>
                        <h5 class="right__side__title">Презентация Unipix: Вдохновляющие истории студентов</h5>
                        <p class="right__side__description">Погрузитесь в искренние рассказы студентов Unipix, где каждая история связана с триумфом, стойкостью и личностным ростом. Эти истории проясняют все - от академических достижений до событий, изменивших жизнь.</p>
                        <div class="right__side__link">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- student stories end -->

    <!-- reunion gallery -->
    <div class="rts-gallery rts__light rts-section-padding ">
        <div class="container">
            <div class="row">
                <div class="rts__section--wrapper v__5">
                    <h2 class="rts__section--title">Галерея встречи выпускников университета</h2>
                </div>
            </div>
            <div class="gallery-area">
                <div class="row g-5">
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="{% static 'assets/images/campus/gallery/2x1.jpg' %}" class="single-gallery__item">
                                <img src="{% static 'assets/images/campus/gallery/01.jpg' %}" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="{% static 'assets/images/campus/gallery/2x2.jpg' %}" class="single-gallery__item">
                                <img src="{% static 'assets/images/campus/gallery/02.jpg' %}" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="{% static 'assets/images/campus/gallery/2x3.jpg' %}" class="single-gallery__item">
                                <img src="{% static 'assets/images/campus/gallery/03.jpg' %}" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="{% static 'assets/images/campus/gallery/2x4.jpg' %}" class="single-gallery__item">
                                <img src="{% static 'assets/images/campus/gallery/04.jpg' %}" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="{% static 'assets/images/campus/gallery/2x5.jpg' %}" class="single-gallery__item">
                                <img src="{% static 'assets/images/campus/gallery/05.jpg' %}" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- single gallery item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-gallery">
                            <a href="{% static 'assets/images/campus/gallery/2x6.jpg' %}" class="single-gallery__item">
                                <img src="{% static 'assets/images/campus/gallery/06.jpg' %}" alt="gallery">
                                <div class="single-gallery__icon">
                                    <i class="fa-light fa-circle-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- reunion gallery end -->
    <!-- event speaker -->
    <div class="rts-event-speaker rts-section-padding">
        <div class="container">
            <div class="row">
                <div class="rts__section--wrapper">
                    <h2 class="rts__section--title text-capitalize">Спикеры мероприятия</h2>
                </div>
            </div>
            <!-- event speaker list -->
            <div class="row g-5">
                <!-- single speaker item -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="event-speaker">
                        <div class="event-speaker__details">
                            <div class="speaker-thumb">
                                <img src="{% static 'assets/images/speaker/01.jpg' %}" alt="speaker-thumb">
                                <div class="speaker-social-link">
                                    <a href="#"><i class="fa-brands fa-skype"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                </div>
                            </div>
                            <div class="speaker-meta">
                                <h5 class="speaker__name"><a href="faculty-details.html">Рик Зонсон</a></h5>
                                <span class="designation">Ассистент преподавателя</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single speaker item end -->
                <!-- single speaker item -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="event-speaker">
                        <div class="event-speaker__details">
                            <div class="speaker-thumb">
                                <img src="{% static 'assets/images/speaker/02.jpg' %}" alt="speaker-thumb">
                                <div class="speaker-social-link">
                                    <a href="#"><i class="fa-brands fa-skype"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                </div>
                            </div>
                            <div class="speaker-meta">
                                <h5 class="speaker__name"><a href="faculty-details.html">Томас Фред</a></h5>
                                <span class="designation">Учитель</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single speaker item end -->
                <!-- single speaker item -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="event-speaker">
                        <div class="event-speaker__details">
                            <div class="speaker-thumb">
                                <img src="{% static 'assets/images/speaker/03.jpg' %}" alt="speaker-thumb">
                                <div class="speaker-social-link">
                                    <a href="#"><i class="fa-brands fa-skype"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                </div>
                            </div>
                            <div class="speaker-meta">
                                <h5 class="speaker__name"><a href="faculty-details.html">Альберт Мак</a></h5>
                                <span class="designation">Старший преподаватель</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single speaker item end -->
                <!-- single speaker item -->
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="event-speaker">
                        <div class="event-speaker__details">
                            <div class="speaker-thumb">
                                <img src="{% static 'assets/images/speaker/04.jpg' %}" alt="speaker-thumb">
                                <div class="speaker-social-link">
                                    <a href="#"><i class="fa-brands fa-skype"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                </div>
                            </div>
                            <div class="speaker-meta">
                                <h5 class="speaker__name"><a href="faculty-details.html">Майкл Альфред</a></h5>
                                <span class="designation">Ассистент преподавателя</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single speaker item end -->
            </div>
        </div>
    </div>
    <!-- event speaker end -->


    <!-- footer -->
    {% include 'include/footer.html' %}
    <!-- footer end -->

    <!-- footer copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright__wrapper">
                        <p>Copyright &copy; 2024 All Rights Reserved by <a href="#">Unipix</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer copyright end -->

    <!-- offcanvase menu -->
    <!-- header style two -->
    <div id="side-bar" class="side-bar">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail">
                <img src="{% static 'assets/images/logo/logo__five.svg' %}" alt="Unipix-university">
            </div>
            <div class="inner-content">
                <p class="disc">
                    A modern HTML template for education, offering intuitive design & essential features for seamless learning experiences.
                </p>
                <!-- offcanvase banner -->
                <div class="offcanvase__banner mt--50">
                    <div class="offcanvase__banner--content">
                        <img src="{% static 'assets/images/offcanvase.jpg' %}" alt="offcanvase">
                        <a href="admission.html" class="rts-theme-btn">Apply Now</a>
                    </div>
                </div>
                <div class="offcanvase__info">
                    <div class="offcanvase__info--content">
                        <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                        <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Yarra Park, Melbourne, Australia</a>
                        <div class="offcanvase__info--content--social">
                            <p class="title">Follow Us:</p>
                            <div class="social__links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">

                    <li class="has-droupdown">
                        <a href="#" class="main">Homepages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="index.html">Home Style One</a></li>
                            <li><a class="mobile-menu-link" href="index-two.html">Home Style Two</a></li>
                            <li><a class="mobile-menu-link" href="index-three.html">Home Style Three</a></li>
                            <li><a class="mobile-menu-link" href="index-four.html">Home Style Four</a></li>
                            <li><a class="mobile-menu-link" href="index-five.html">Home Style Five</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="about.html">About Us</a></li>
                            <li><a class="mobile-menu-link" href="athletics.html">Athletics</a></li>
                            <li class="has-dropdown third-lvl">
                                <a href="javascript:void(0);">Faculty</a>
                                <ul class="submenu third-lvl base">
                                    <li><a class="mobile-menu-link" href="faculty.html">Faculty</a></li>
                                    <li><a class="mobile-menu-link" href="faculty-details.html">Faculty details</a></li>
                                </ul>
                            </li>
                            <li><a class="mobile-menu-link" href="research.html">Research</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Academics</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="academic.html">Academic</a></li>
                            <li><a class="mobile-menu-link" href="admission.html">Admission</a></li>
                            <li><a class="mobile-menu-link" href="academic-area.html">Academic Area</a></li>
                            <li><a class="mobile-menu-link" href="campus-life.html">Campus Life</a></li>
                            <li><a class="mobile-menu-link" href="scholarship.html">Scholarship</a></li>
                            <li><a class="mobile-menu-link" href="tution-fee.html">Tution Fee</a></li>
                            <li><a class="mobile-menu-link" href="alumni.html">Alumni</a></li>
                            <li><a class="mobile-menu-link" href="program-single.html">Program Single</a></li>
                        </ul>
                    </li>

                    <li class="has-droupdown">
                        <a href="#" class="main">Events</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="event.html">Event</a></li>
                            <li><a class="mobile-menu-link" href="event-details.html">Event Details</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Blog</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="blog.html">Blog</a></li>
                            <li><a class="mobile-menu-link" href="blog-grid.html">Blog Grid</a></li>
                            <li><a class="mobile-menu-link" href="blog-list.html">Blog List</a></li>
                            <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html" class="main">Contact Us</a>
                    </li>
                </ul>
            </nav>

            <div class="offcanvase__info--content mt--30">
                <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Yarra Park, Melbourne, Australia</a>
                <div class="offcanvase__info--content--social">
                    <p class="title">Follow Us:</p>
                    <div class="social__links">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->

    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input class="search-input autocomplete ui-autocomplete-input" type="text" placeholder="Search by keyword or #" autocomplete="off">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts back to top end -->
    <div id="anywhere-home" class="">
    </div>


    <!-- scripts -->
    <!-- jquery js -->

{% endblock %}