{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- header area start -->
    {% include 'include/header.html' %}
    <!-- header area end -->


    <!-- BREADCRUMB AREA -->
    <section class="rts-breadcrumb breadcrumb-height breadcumb-bg" style="background-image: url(assets/images/banner/breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Главная страница</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Информация о факультете</li>
                        </ul>
                        <h2 class="section-title">Информация о факультете</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- BREADCRUMB AREA END -->



    <!-- faculty directory -->
    <section class="rts-faculty-details  rts-section-padding">
        <div class="container">
            <div class="row sticky-coloum-wrap justify-content-sm-center g-5">
                <div class="col-lg-4 col-md-10 col-sm-10 sticky-coloum-item">
                    <div class="faculty-member">
                        <div class="faculty-member__details rt-center ">
                            <div class="faculty-member__image">
                                <img src="{% static 'assets/images/faculty/mem-1.jpg' %}" alt="member image">
                            </div>
                            <div class="faculty-member__info">
                                <div class="faculty-member__info--social">
                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fa-brands fa-medium"></i></a>
                                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                                <a href="{{info.email}}" class="email-contact"><span><i class="fa-light fa-envelope"></i></span>{{info.email}}</a>
                                <a href="{{info.phone}}" class="phone-contact"><span><i class="fa-light fa-phone"></i></span>{{info.phone}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10 col-sm-10">
                    <div class="member-info ">
                        <div class="member-info__details">
                            <div class="short-info">
                                <h4 class="rts-section-title mb--15">{{info.name}}</h4>
                                <span class="designation">{{info.profession}}</span>
                                <p class="description">
                                    {{info.desc}}
                                </p>
                            </div>
                            <div class="short-info">
                                <h5 class="rts-section-title">Биография</h5>
                                <p class="description">
                                    {{info.bio}}
                                </p>
                                <h5 class="rts-section-title">Образование</h5>
                                <p class="description">{{info.desceducation}}</p>
                                <h5 class="rts-section-title">ОБЛАСТИ СПЕЦИАЛИЗАЦИИ</h5>
                                <p class="description">{{info.areasofexpertise}}
                                </p>
                            </div>
                            <div class="short-info">
                                <h5 class="rts-section-title">КУРСЫ</h5>
                                <div class="course__single">
                                    <ul class="list-unstyled">
                                        <li><a href="#">ЯЗЫК 1220/1221, начинающийся с латыни I и II</a></li>
                                        <li><a href="#">ЯЗЫК 3760/3761 - продвинутый греческий I и II (Лукиан, Лонг и Гомер)</a></li>
                                        <li><a href="#">GAH 1038 - Реакция на прошлое</a></li>
                                        <li><a href="#">GAH 1401 Классические мифы и легенды</a></li>
                                    </ul>
                                </div>
                            </div>  
                            <div class="short-info">
                                <h5 class="rts-section-title">ПУБЛИКАЦИИ</h5>
                                <p>{{info.publication}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- faculty directory end -->



    <!-- footer -->
    {% include 'include/footer.html' %}
    <!-- footer end -->

    <!-- footer copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="copyright__wrapper">
                        <p>Авторское право &copy; 2024 Все права защищены <a href="#">Unipix (Унипикс)</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer copyright end -->

    <!-- offcanvase menu -->
    <!-- header style two -->
    <div id="side-bar" class="side-bar">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail">
                <img src="{% static 'assets/images/logo/logo__five.svg' %}" alt="Unipix-university">
            </div>
            <div class="inner-content">
                <p class="disc">
                    Современный HTML-шаблон для образования, предлагающий интуитивно понятный дизайн и необходимые функции для беспрепятственного обучения.
                </p>
                <!-- offcanvase banner -->
                <div class="offcanvase__banner mt--50">
                    <div class="offcanvase__banner--content">
                        <img src="{% static 'assets/images/offcanvase.jpg' %}" alt="offcanvase">
                        <a href="{% url 'admission' %}" class="rts-theme-btn">Подайте заявку прямо сейчас</a>
                    </div>
                </div>
                <div class="offcanvase__info">
                    <div class="offcanvase__info--content">
                        <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                        <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Ярра-парк, Мельбурн, Австралия</a>
                        <div class="offcanvase__info--content--social">
                            <p class="title">следуйте за нами:</p>
                            <div class="social__links">
                                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">

                    <li class="has-droupdown">
                        <a href="#" class="main">Homepages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="index.html">Home Style One</a></li>
                            <li><a class="mobile-menu-link" href="index-two.html">Home Style Two</a></li>
                            <li><a class="mobile-menu-link" href="index-three.html">Home Style Three</a></li>
                            <li><a class="mobile-menu-link" href="index-four.html">Home Style Four</a></li>
                            <li><a class="mobile-menu-link" href="index-five.html">Home Style Five</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="about.html">About Us</a></li>
                            <li><a class="mobile-menu-link" href="athletics.html">Athletics</a></li>
                            <li class="has-dropdown third-lvl">
                                <a href="javascript:void(0);">Faculty</a>
                                <ul class="submenu third-lvl base">
                                    <li><a class="mobile-menu-link" href="faculty.html">Faculty</a></li>
                                    <li><a class="mobile-menu-link" href="faculty-details.html">Faculty details</a></li>
                                </ul>
                            </li>
                            <li><a class="mobile-menu-link" href="research.html">Research</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Academics</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="academic.html">Academic</a></li>
                            <li><a class="mobile-menu-link" href="admission.html">Admission</a></li>
                            <li><a class="mobile-menu-link" href="academic-area.html">Academic Area</a></li>
                            <li><a class="mobile-menu-link" href="campus-life.html">Campus Life</a></li>
                            <li><a class="mobile-menu-link" href="scholarship.html">Scholarship</a></li>
                            <li><a class="mobile-menu-link" href="tution-fee.html">Tution Fee</a></li>
                            <li><a class="mobile-menu-link" href="alumni.html">Alumni</a></li>
                            <li><a class="mobile-menu-link" href="program-single.html">Program Single</a></li>
                        </ul>
                    </li>

                    <li class="has-droupdown">
                        <a href="#" class="main">Events</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="event.html">Event</a></li>
                            <li><a class="mobile-menu-link" href="event-details.html">Event Details</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Blog</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="blog.html">Blog</a></li>
                            <li><a class="mobile-menu-link" href="blog-grid.html">Blog Grid</a></li>
                            <li><a class="mobile-menu-link" href="blog-list.html">Blog List</a></li>
                            <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html" class="main">Contact Us</a>
                    </li>
                </ul>
            </nav>

            <div class="offcanvase__info--content mt--30">
                <a href="callto:+61485826710"><span><i class="fa-sharp fa-light fa-phone"></i></span>+(61) 485-826-710</a>
                <a href="#"><span><i class="fa-sharp fa-light fa-location-dot"></i></span>Yarra Park, Melbourne, Australia</a>
                <div class="offcanvase__info--content--social">
                    <p class="title">Follow Us:</p>
                    <div class="social__links">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->

    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input class="search-input autocomplete ui-autocomplete-input" type="text" placeholder="Search by keyword or #" autocomplete="off">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts back to top end -->
    <div id="anywhere-home" class="">
    </div>


    <!-- scripts -->
    <!-- jquery js -->

{% endblock %}